.folder-view {
  display: flex;
  margin-top: 20px;
  padding: 20px;
  align-items: flex-start; /* Ensure everything aligns at the top */
}

.left-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-right: 20px;
}

.folder-list {
  width: 100%;
}

.folder-list ul {
  list-style-type: none;
  padding: 0;
}

.folder-list li {
  margin: 10px 0;
}

.folder-link {
  text-decoration: none;
  color: #333;
  font-size: 0.9rem;
  font-weight: normal;
  transition: color 0.3s ease;
}

.folder-link:hover {
  color: #007bff;
}

.center-section {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carousel-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 900px;
}

.carousel-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.carousel-image-wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-image {
  width: 100%;
  height: auto;
}

.arrow {
  position: absolute;
  top: 50%;
  width: 0;
  height: 0;
  border-style: solid;
  cursor: pointer;
  opacity: 0.5;
  transform: translateY(-50%);
  transition: opacity 0.3s ease;
}

.arrow:hover {
  opacity: 1;
}

.arrow-left {
  left: 10px;
  border-width: 15px 20px 15px 0;
  border-color: transparent #ffffff transparent transparent;
}

.arrow-right {
  right: 10px;
  border-width: 15px 0 15px 20px;
  border-color: transparent transparent transparent #ffffff;
}

.thumbnails-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.thumbnail {
  cursor: pointer;
}

.thumbnail.selected {
  border: 2px solid #007bff;
}

/* Adjusting the right-section */
.right-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: flex-start; /* Aligns content at the top */
  padding-left: 20px;
}

.image-description {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-top: 0; /* Ensure description is towards the top */
}
