.folder-view {
  display: flex;
  margin-top: 20px;
  padding: 20px;
}

.folder-list {
  flex: 1;
  padding-right: 20px;
}

.folder-list ul {
  list-style-type: none;
  padding: 0;
}

.folder-list li {
  margin: 10px 0;
}

.folder-link {
  text-decoration: none;
  color: #333;
  font-size: 0.9rem; /* Smaller font size */
  font-weight: normal; /* Remove bold */
  transition: color 0.3s ease;
}

.folder-link:hover {
  color: #007bff;
}


.carousel-container {
  flex: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carousel-image-wrapper {
  position: relative;
  width: 100%;
  max-width: 900px;
  overflow: hidden;
}

.carousel-image {
  width: 100%;
  height: auto;
}

.arrow {
  position: absolute;
  top: 50%;
  width: 0;
  height: 0;
  border-style: solid;
  cursor: pointer;
  opacity: 0.5;
  transform: translateY(-50%);
  transition: opacity 0.3s ease;
}

.arrow:hover {
  opacity: 1;
}

.arrow-left {
  left: 10px;
  border-width: 15px 20px 15px 0;
  border-color: transparent #ffffff transparent transparent;
}

.arrow-right {
  right: 10px;
  border-width: 15px 0 15px 20px;
  border-color: transparent transparent transparent #ffffff;
}
