/* General homepage container */
html, body, .topbar, .folder-link, .image-description, .work-date {
    font-family: Arial, sans-serif;
    color: black;
    text-transform: uppercase;
}

/* Homepage container settings */
.homepage {
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 100%;
    overflow-y: auto;
}

/* Unified Topbar styling */
.topbar {
    display: flex;
    justify-content: space-between; /* Space out the elements in the topbar */
    align-items: center; /* Vertically center content */
    padding: 10px 20px; /* Adjusted padding for consistency */
    background-color: #f8f8f8;
    border-bottom: 1px solid #ccc;
    z-index: 10;
    height: 60px; /* Fixed height */
    position: sticky; /* Keep the topbar sticky */
    top: 0;
    width: 100%; /* Ensure the topbar stretches across the page */
}

/* Logo styling (using flex for centering) */
.topbar-logo {
    max-width: 50px; /* Set a max width for the logo */
    height: auto;
    flex-grow: 0;
    margin: 0 auto; /* Centers the logo in its container */
}

/* Info button and other topbar button styling */
.topbar-button {
    background-color: transparent;
    border: none;
    font-size: 16px;
    cursor: pointer;
    margin: 0 10px;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.topbar-button:hover {
    background-color: #e0e0e0;
}

.info-button {
    margin-left: auto; /* Pushes info button to the far right */
}

/* Responsive adjustments */
@media (max-width: 600px) {
    .topbar-logo {
        width: 40px; /* Resize logo for smaller screens */
    }

    /* Ensure topbar buttons and layout adjust for small screens */
    .topbar-button {
        font-size: 14px;
        padding: 8px 16px;
    }

    /* Adjust the logo for better spacing */
    .topbar-logo {
        width: 40px; /* Smaller logo for mobile */
    }

    .topbar {
        padding: 10px; /* Adjust padding for smaller screens */
    }
}


/* Card container for each item */
.card-container {
    position: relative;
    overflow: hidden;
    border-radius: 0;
    box-shadow: none;
}

/* Card image styling */
.card-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 3/2;
    border-radius: 0;
}

/* Overlay that appears when hovering over the card */
.card-overlay {
    text-transform: uppercase;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 20px;
    font-weight: normal;
    transition: opacity 0.3s ease;
    pointer-events: none;
    font-weight: bold;
}

.card-container:hover .card-overlay {
    opacity: 1;
}

/* Container for the grid of cards */
.grid-container {
    padding: 10px;
    flex-grow: 1;
    margin: 0 auto;
    max-width: 1200px;
}
